   /* The grid: Four equal columns that floats next to each other */
   
   body {
       font-family: Arial, Verdana, Helvetica, sans-serif;
       /* betűtípus beállítás */
       background-image: url("../background/Fantasy-Dragon-dragons.jpg");
       background-repeat: no-repeat;
       /* háttérképek ismétlődésének beállítása. Az első nem ismétlődik, a második vízszintesen ismétlődik */
       background-position: 0px 0px, left top;
       /* háttérkép kezdőpozíciók beállítása */
       margin-bottom: 100px;
       /*alsó margó beállítása, hogy látszódjon a vízszintesen ismétlődő háttérkép */
       background-size: 100%;
       background-attachment: fixed;
   }
   
   .navbar {
       overflow: hidden;
       background-color: #333;
       font-family: Arial;
   }
   
   .navbar a {
       float: left;
       font-size: 16px;
       color: white;
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
   }
   
   #current {
       background-color: #999;
   }
   
   .navbar a:hover,
   .dropdown:hover .dropbtn,
   .footer a:hover {
       background-color: red;
   }
   
   .column {
       float: left;
       width: 20%;
       padding: 10px;
       border: #333;
       border-style: solid;
       margin-right: 1em;
   }
   /* Style the images inside the grid */
   
   .column img {
       opacity: 0.8;
       width: 100%;
       cursor: pointer;
       display: inline-block;
   }
   
   .column img:hover {
       opacity: 1;
   }
   /* Clear floats after the columns */
   
   .row:after {
       content: "";
       display: table;
       clear: both;
   }
   /* The expanding image container (positioning is needed to position the close button and the text) */
   
   .row {
       margin-top: 1em;
   }
   
   .container {
       position: relative;
       display: none;
   }
   /* Expanding image text */
   
   #imgtext {
       position: absolute;
       bottom: 15px;
       left: 15px;
       color: white;
       font-size: 20px;
   }
   /* Closable button inside the image */
   
   .closebtn {
       position: absolute;
       top: 10px;
       right: 15px;
       color: white;
       font-size: 35px;
       cursor: pointer;
   }
   
   header,
   main,
   footer {
       width: 70%;
       /* szélesség */
       min-width: 400px;
       /* minimális szélesség */
       max-width: 1000px;
       /* maximális szélesség */
       margin-left: auto;
       margin-right: auto;
       /* a margin-left: auto, margin-right: auto; beállítások középre igazítást jelentenek a blokkok esetén */
       margin-top: 0;
       /* felső margó */
       margin-bottom: 0;
       /* alsó margó */
       background-color: rgb(202, 200, 179);
       /* fehér háttérszín */
       padding: 10px;
       /* kitöltés */
   }